<h1>Add a New Order</h1>
<div ng-controller='ordersController'>
  <form>
    Customer: <select name="" id="" ng-model='newOrder.name'>
      <option value=""></option>
    </select>


    Order: <select name="" id="" ng-model='newOrder.number'>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <select name="" id="" ng-click='newOrder.product'>
      <option value="nikeshoes">Nike Shoes</option>
      <option value="blackbelts">Black Belts</option>
      <option value="icecream">Ice Cream</option>
      <option value="yoshi">Yoshi</option>
      <option value="goomba">Goomba</option>
    </select>
    <input type="submit" ng-click='create()'>
  </form>
</div>
